.file-control{
    padding-top:10px;
    display: flex;
    flex-direction: column;
}
.option{
    color: black;
}
.option label{
    padding:5px;
}
.Gif{
    display: flex;
    height: 30px;
    width: 10px;
}
.uploadSection{
    display:flex;
    flex-direction: row;
}