.file-control{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.option{
    color: black;
}
.option label{
    padding:5px;
}
.Gif{
    display: flex;
    height: 50px;
    width: 10px;
}