.file-control{
    padding-top:10px;
    display: flex;
    flex-direction: row;
}

.file-control .label{
    display: flex;
    flex-direction: column;
}

.file-control .dataFields{
    flex-direction: column;
}

.file-control .submission{
    align-items: center;
}
.option{
    color: black;
}
.option label{
    padding:5px;
}
.Gif{
    display: flex;
    height: 30px;
    width: 10px;
}
.uploadSection{
    display:flex;
    flex-direction: row;
    align-items: center;
}
label{
    padding-right: 10px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.submit{
    display: flex;
    flex-direction: row;
   
}