div
{
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 150px;
    width:98%; */
}
.upper
{
    background-color:rgba(134, 131, 128, 0.459);    
   margin-bottom: 10px;
   width:98%; 
}
.lower
{
    background-color:rgba(134, 131, 128, 0.192);
    height: 98%;
    width:98%;
}

.header{
    background-color: rgb(196, 225, 252);
}

.footer{
    background-color:rgba(106, 158, 207, 0.815);
    /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw; */

}