<div class="header">
    <app-header style="width: 100%;"></app-header>
</div>

<div class="body">
    <div class="upper">
        <app-upper-section (formData)="selectedOption($event)" (isActive)="isNull" (isProcess)="isLoading"></app-upper-section>
       
    </div>
    <!-- <input type="button" value="submit" (click)="OnSubmit()"> -->
    <div class="lower" *ngIf="!isLoading">
        <!-- <div class="lower"> -->
            <!-- <mat-spinner></mat-spinner> -->
      
        
        <!-- <router-outlet style="width:inherit"></router-outlet> -->
       <app-lower-section style="width:inherit;"  [formValue]="selectionForm" ></app-lower-section> 

    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>
