div
{
    /* text-align: center; */
    font-size: 15px;
    color: white;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 150px;
    width:98%; */
}
.upper
{
    background-color:rgb(255, 255, 255);    
   margin-bottom: 10px;
   width:100%; 
    padding-top:10px ;
    padding-bottom: 10px;
    
}
.lower
{
    background-color:rgba(134, 131, 128, 0.192);
    height: 98%;
    width:100%;
   
}

.header{
    background-color:rgba(41, 41, 41, 0.826);
    display: flex;
    /* overflow-x: visible; */
    
}

.footer{
    background-color:rgb(145, 145, 145);
     /* top: 0;  */
     /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw; */
    /* display: flex; */
    align-items: center;
}