.parent{
    display: flex;
    /* float: left;  */
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.manager{
  width: 100%;
  padding: 10px;
  
}
.dev{
    width: 50%;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
}
.Gif{
  
     justify-content: center;
     display: flex;
}
.pie-section{
  display: flex;
  flex-direction: row;
  height: 200px;
}
.log-data{
  margin: 20px;
  height: 200px;
  width: 98%;
  background-color: rgb(75, 75, 75);
  overflow-y: scroll;
  text-align: left;
  padding-left: 10px;
}


 .mat-card-class-u{
  width: 50%;
  margin:10px 50px ;
  border-width: 2px;
border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
 }

 .mat-card-class-u:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
              0 10px 10px rgba(0, 0, 0, 0.22);
 }
 .mat-card-class-l{
  width: 50%;
  margin: 10px 50px;
  border-width: 2px;
border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
 }
 .mat-card-class-l:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
              0 10px 10px rgba(0, 0, 0, 0.22);
 }

 .upper-card{
  display:flex;
  height: 200px;
  flex-direction: row;
  justify-content: space-between; 
   
 }