<div *ngIf="isLoading" class="Gif">
    <img src=".\assets\YCZH.gif" alt="gif">
   </div>

   
   <input type="button" (click)="OnClick()" value="Generate"> 
  <div class="upper-card" *ngIf="isLoading==false">
   <mat-card class="mat-card-class-u">
    <div echarts [options]="option" >
    </div>
   </mat-card>
   <mat-card class="mat-card-class-l">
    <div echarts [options]="option" >
    </div>
   </mat-card>
  </div>
    <!-- <app-pie-chart [empData]="EmployeeList"></app-pie-chart> -->
    <!-- <ngx-charts-pie-chart [results]="data" [scheme]="colorScheme" >
      <ng-template #tooltipTemplate let-model="model">
        <h1>
          {{model.name}}
        </h1>
        <h2>{{model.value}}%</h2>
      </ng-template>
    </ngx-charts-pie-chart> -->
  
<div class="parent">
    
    
    <div class="dev">
        <table class="table table-bordered" >
            <thead>
              <tr>
                
                <th>City</th>
                <th>Reside In</th>
                <th>Total Income</th>
              </tr>
            </thead>
            <tbody *ngFor="let emp of EmployeeList">
              <tr>
                <td>{{emp.dis_address}}</td>
                <td>{{emp.resident}}</td>
                <td>{{emp.salary}}</td>
              </tr>
            </tbody>
          </table>
         </div>
<br>
     <button (click)="GetLog()">Get-Log</button><br>
     <div class="paging">
      <button  id="Prev" style="margin-right: 5px;" (click)="Prev()">Prev</button>
     <button id="Next" (click)="Next()">Next</button>
    </div>
     
    <div class="log-data">
      <p *ngFor="let data of DataList.slice(counter,counter+10)">{{data}}</p>
    </div>
   
   </div>


  
