.parent{
    display: flex;
    /* float: left;  */
    /* justify-content: space-between; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.manager{
  width: 100%;
  padding: 10px;
  
}
.dev{
    width: 50%;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
}
.Gif{
  
     justify-content: center;
     display: flex;
}
.pie-section{
  display: flex;
  flex-direction: row;
  height: 200px;
}