<div *ngIf="isLoading" class="Gif">
  <img src=".\assets\YCZH.gif" alt="gif" />
</div>
<input type="button" (click)="OnClick()" value="Generate" [disabled]="!isNull"/>
<!-- <div class="error">
  <h5 class="text-danger">{{errorMassage}}</h5>
</div> -->
<div class="upper-card" *ngIf="isLoading == false">
  <mat-card class="mat-card-class-u">
    <div echarts [options]="Pieoption"></div>
  </mat-card>
  <mat-card class="mat-card-class-l">
    <div echarts [options]="Baroption"></div>
  </mat-card>
</div>
<!-- <app-pie-chart [empData]="EmployeeList"></app-pie-chart> -->
<!-- <ngx-charts-pie-chart [results]="data" [scheme]="colorScheme" >
      <ng-template #tooltipTemplate let-model="model">
        <h1>
          {{model.name}}
        </h1>
        <h2>{{model.value}}%</h2>
      </ng-template>
    </ngx-charts-pie-chart> -->

<div class="parent" *ngIf="isLoading == false">
  <div class="dev">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>DeptName</th>
          <th>Designation</th>
          <th *ngIf="isTrue">TotalDesignation</th>
          <th>EmployeeCount</th>
          <th>Total Salary</th>
        </tr>
      </thead>
      <tbody *ngFor="let emp of EmployeeList" >
        <tr >
          <td>{{ emp.deptName }}</td>
          <td>{{ emp.designation }}</td>
          <td *ngIf="isTrue">{{ emp.totalDesignation}}</td>
          <!--  -->
          <td>{{ emp.empCount }}</td>
          <td>{{ emp.totalSalary }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <button (click)="GetLog()">Get-Log</button><br />

  <!-- <div class="logData" > -->
    <div class="log-data" *ngIf="isLog">
      <p *ngFor="let data of DataList.slice(counter, counter + 10)">
        {{ data }}
      </p>
    </div>
    <div class="paging" *ngIf="isLog">
      <button id="Prev" style="margin-right: 5px" (click)="Prev()">Prev</button>
      <button id="Next" (click)="Next()">Next</button>
    </div>
  </div>
<!-- </div> -->
