.parent{
    display: flex;
    /* float: left;  */
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.manager{
  width: 100%;
  padding: 10px;
  
}
.dev{
    width: 50%;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
}
.Gif{
  
     justify-content: center;
     display: flex;
}
.pie-section{
  display: flex;
  flex-direction: row;
  height: 200px;
}
.log-data{
  margin: 20px;
  height: 200px;
  width: 98%;
  background-color: rgb(75, 75, 75);
  overflow-y: scroll;
  text-align: left;
  padding-left: 10px;
}
